/* menu */
:root {
  --width: 250px;
  --padding: 10px;
  --bgcolor: rgb(52, 52, 52);
  --hovercolor: rgb(23, 23, 23);
  --width-collapsed: 50px;
}
body {
  background-color: #032c55;
  font-family: monospace;
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-left: var(--width-collapsed);
}
.body-expanded {
  margin-left: var(--width);
}
#main-container {
  color: white;
}
#sidemenu {
  background-color: var(--bgcolor);
  color: white;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}
#sidemenu a {
  color: white;
  text-decoration: none;
}
/* Header */
#sidemenu #header {
  box-sizing: border-box;
  border-bottom: solid 1px var(--hovercolor);
}
#sidemenu #header #title {
  box-sizing: border-box;
  overflow: hidden;
}
#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
  float: left;
}
#sidemenu #header #menu-btn {
  display: inline-block;
}
#sidemenu #header #menu-btn {
  cursor: pointer;
  padding: 10px;
  width: var(--width-collapsed);
  box-sizing: border-box;
}
#sidemenu #header #menu-btn:hover {
  background-color: var(--hovercolor);
}
#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}
/* profile */
/* #sidemenu #profile {
  border-bottom: solid 1px var(--hovercolor);
  padding: var(--padding) 0;
  text-align: center;
}
#sidemenu #profile #photo {
  box-sizing: border-box;
  padding: var(--padding);
  margin: 0 auto;
} */
/* #sidemenu #profile #photo img {
  border-radius: 50%;
  width: 60%;
} */
/* #sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 24px;
  padding: var(--padding) 0;
  overflow: hidden;
} */
/* Item */
#sidemenu #menu-items {
  overflow: hidden;
  clear: both;
}
#sidemenu #menu-items .item {
  width: var(--width);
}
#sidemenu #menu-items .item .icon {
  display: inline-block;
}
#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}
#sidemenu #menu-items .item a {
  display: block;
}
#sidemenu #menu-items .item a:hover {
  background-color: var(--hovercolor);
}
#sidemenu #menu-items .item .icon {
  box-sizing: border-box;
  padding: var(--padding);
  width: var(--width-collapsed);
}
#sidemenu #menu-items .item .icon img {
  width: 100%;
}
#sidemenu #menu-items .item .title {
  padding: var(--padding) 0;
}
#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: solid 1px var(--hovercolor);
  margin: 15px 0;
}

.menu-expanded {
  width: var(--width);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: var(--padding);
}
.menu-expanded #header #title span {
  width: calc(var(--width) - var(--width-collapsed)- 5px);
  overflow: hidden;
  display: inline-block;

}
/* .menu-expanded #profile #photo {
  width: 200px;
}
.menu-expanded #profile #name {
  width: 100%;
} */
.menu-collapsed {
  width: var(--width-collapsed);
}
.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
/* .menu-collapsed #profile #name {
  display: none;
} */
.menu-collapsed .item {
  width: 100px;
}

/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}
body {
  background-image: url(
    "/home/ltisoy/Documents/projects/sistema_project/projecto/img/fondo.jpg"
  );
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: monospace;
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.text-input {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: monospace;
  font-size: 18px;
  color: white;
}
.form-register .button {
  background: #1f53c5;
  width: 100%;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
