{% extends "layout.html" %} {% block content %}
<div id="main-container">
  <section class="form-register">
    <h4>Formulario Registro</h4>
    <input
      class="text-input"
      type="text"
      name="nombres"
      id="nombres"
      placeholder="Nombres Completos"
    />
    <input
      class="text-input"
      type="number"
      name="cedula"
      id="cedula"
      placeholder="Numero de Identificación"
    />
    <input
      class="text-input"
      type="email"
      name="correo"
      id="correo"
      placeholder="Correo Electronico"
    />
    <input
      class="text-input"
      type="text"
      name="cargo"
      id="cargo"
      placeholder="Cargo del tecnico"
    />
    <br />
    <input class="button" type="submit" value="Registrar" />
  </section>
  <br />
  <!-- tabla tecnicos -->
  <table>
    <thead>
      <td>Id</td>
      <td>Nombre Completo</td>
      <td>Cargo</td>
      <td>Correo</td>
      <td>Area Equipo</td>
      <td>Operaciones</td>
    </thead>
    <tbody>
      {% for tecnico in tecnicos %}
      <tr>
        <td>{{ tecnico.0 }}</td>
        <td>{{ tecnico.1 }}</td>
        <td>{{ tecnico.2 }}</td>
        <td>{{ tecnico.3 }}</td>
        <td>{{ tecnico.4 }}</td>
        <td>
          <a href="#">Editar</a>
          <a href="/delete/{{tecnico.0}}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
<!-- main container -->
